:root {
  --oxford-blue: #001b2eff;
  --charcoal: #294c60ff;
  --french-gray: #adb6c4ff;
  --papaya-whip: #ffefd3ff;
  --peach: #ffc49bff;
}
.title {
  color: var(--oxford-blue);
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  position:relative;
  top:30px;
  
}
.nav {
  position:relative;
  top:-60px;
  right:50px;
  font-size: 20px;
  margin-right: 20px;
}
#root {

  height: 100vh;
  width: 100vw;

}
.nav-item {
  font-size: 22px;
}
#root p {
  font-size: 20px;
  margin:10px;
  padding:10px;
}

.page-titles {
  margin:20px;
  margin-bottom: 30px;
  font-size:30px;

}
.contact-form {
  width: 50%;
  background-color: var(--charcoal);
  padding: 20px;
  position:relative;
  left:3%;
  color: var(--papaya-whip);
  font-size: 20px;
}
.contact-message {
  height: 150px;
}
.app-image {
  width: 400px;
  margin: 0px;
  opacity: 0.5;
}
.app-image:hover {
  opacity: 1;
}
.projects-container {
  margin: 40px;
  padding: 20px;
  
}
.card {
  margin: 40px;
  padding: 10px;
  background-color: var(--charcoal);
  color: var(--papaya-whip);
  font-size: 20px;
}
.footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--french-gray);
  height: 100px;
  position: relative;
  bottom: 0px;
}
.footer a {
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}

