:root {
  --oxford-blue: #001b2eff;
  --charcoal: #294c60ff;
  --french-gray: #adb6c4ff;
  --papaya-whip: #ffefd3ff;
  --peach: #ffc49bff;
}
body {
  min-height:100vh;
  display: flex;
  flex-direction: column;
  width:fit-content;
}
#root {
  min-height: 100vh;
  min-width: 100vw;
  flex: 1;
  background-color: var(--french-gray);

}

 * {
  font-family: 'Preahvihear', sans-serif;
 }
.title {
  color: var(--oxford-blue);
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  position:relative;
  top:30px;
  
}
.nav {
  position:relative;
  top:-60px;
  right:50px;
  font-size: 20px;
  margin-right: 20px;
  
}

.nav-item {
  font-size: 22px;
}
/* #root p {
  font-size: 20px;
  margin:10px;
  padding:20px;

} */

.page-titles {
  margin:20px;
  margin-bottom: 30px;
  font-size:30px;
  font-weight: bold;

}
.my-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
  margin: 10px 10px 200px 10px;
  text-align: justify;
}
.my-image {
  margin:auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}
.contact-form {
  width: 50%;
  background-color: var(--charcoal);
  padding: 20px;
  position:relative;
  left:3%;
  color: var(--papaya-whip);
  font-size: 20px;
  margin-bottom: 40px;
}
.contact-message {
  height: 150px;
}
.app-image {
  width: 400px;
  margin: 0px;
  opacity: 0.5;
  background-color: var(--french-gray);
}
.app-image:hover {
  opacity: 1;
}
.projects-container {
  margin: 40px;
  padding: 20px;
  
}
.card {
  margin: 40px;
  padding: 10px;
  background-color: var(--charcoal);
  color: var(--papaya-whip);
  font-size: 20px;
}
.footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--charcoal);
  height: 100px;
  flex-shrink: 0;
  
}
.footer a {
  font-size: 25px;
  margin: 10px;
  text-decoration: none;
}
.footer a:hover {
  color: var(--papaya-whip);
}
.error {
  font-weight: 200;
  font-size: 25px;
  color:red;
  margin: 10px;
}

@media screen and (max-width: 992px) {
  .nav {
    flex-direction: column;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .nav-item {
    width:fit-content;
  }
  .page-titles {
    margin-top: 40px;
  }
  .btn {
    flex: 1 0 100%;
  }
  .contact-form {
    width: 80%;
    position: relative;
    left: 50px;
  }
}

